---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';



---

<Layout title="ETHSA Mantenimientos">
	<main class=" h-screen">

	</main>
	<Footer/>
</Layout>

