---
interface Props{
    text_btn : string
}


const {text_btn} = Astro.props

---



<button id="scroll-to-descarga" type="button" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center ">
    {text_btn}
    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
    </svg>
</button>
<script>
    import { $ } from "../lib/selector";

    document.addEventListener("DOMContentLoaded", () => {
        const $button = $("#scroll-to-descarga");
        
        function scrollToElement(id:any) {
            const element = document.getElementById(id);
            if (element) {
                element.scrollIntoView({ behavior: 'smooth' });
            }
        }
        $button?.addEventListener("click", () => {
            scrollToElement('section-descarga');
        });
    });
</script>