---
import Logodev from "./Logodev.astro"
---



<footer class="bg-neutral-900 rounded-lg shadow">
    <div class="container mx-auto px-4 py-3">
        <div class="flex flex-col items-center justify-between sm:flex-row">
            <a href="/" class="flex items-center mb-4 space-x-3 rtl:space-x-reverse sm:mb-0">
                <Logodev class="h-6 w-6"/> <!-- Ajustar el tamaño del logo según sea necesario -->
                <span class="text-2xl font-semibold whitespace-nowrap dark:text-white">AnderVnq</span>
            </a>
            <ul class="flex flex-wrap justify-center mb-6 text-sm font-medium text-gray-500 sm:justify-end sm:mb-0 dark:text-gray-400">
                <li class="mb-2 sm:mb-0">
                    <a href="#" class="hover:underline me-4 md:me-6">Sobre Nosotros</a>
                </li>
                <li class="mb-2 sm:mb-0">
                    <a href="#" class="hover:underline me-4 md:me-6">GitHub</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="text-sm text-gray-500 text-center dark:text-gray-400">© 2024 ETHSA. All Rights Reserved.</div>
    </div>
</footer>

