---
import ButtonBase from "./ButtonBase.astro"

---

<div class="relative w-full">
  <div class="bg-cover bg-center h-[400px] sm:h-[500px] lg:h-[500px]" style="background-image: url('/images/bg-img3.png'); background-size: cover;">

      <div class="flex flex-col justify-center items-center h-full">
          <h1 id="texto-generate" class="text-3xl sm:text-3xl lg:text-5xl text-slate-300 font-extrabold leading-tight sm:leading-tight lg:leading-tight text-center sm:text-left">
              <!-- Contenido dinámico -->
              Sistema Control De Mantenimientos
          </h1>
          <h2 class="text-lg sm:text-xl lg:text-2xl text-slate-400 font-normal mt-4 mb-7 text-center sm:text-left">
              Para La Empresa ETHSA
          </h2>
          <ButtonBase  text_btn="Descarga Aquí" />
      </div>
  </div>
</div>



<!-- <script>
    const words = ["Sistema Control De Mantenimientos", "Welcome to my website!", "This is a typewriter effect."];
    let i = 0;
    let j = 0;
    let currentWord = "";
    let isDeleting = false;
    
    function type() {
      currentWord = words[i];
      if (isDeleting) {
        // const element = document.getElementById("texto-generate")
        // if (element !== null){
        //     element.textContent= currentWord.substring(0, j-1);
        // }

        // j--;
        // if (j == 0) {
        //   isDeleting = false;
        //   i++;
        //   if (i == words.length) {
        //     i = 0;
        //   }
        // }
      } else {
        const element =document.getElementById("texto-generate")
        if(element !== null){
            element.textContent = currentWord.substring(0, j+1);
        }
        j++;
        if (j == currentWord.length) {
          isDeleting = true;
        }
      }
      setTimeout(type, 80);
    }
    
    type();

    
</script> -->