
<section class=" bg-neutral-950 h-[500px]">
    <hr class="top-0 h-[2px] w-full min-w-[18rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent bg-center md:my-9">
    <div class="h-full">
        <div class="flex justify-center mt-10 mb-5">
            <h2 class="text-slate-300 text-3xl font-semibold">El Software Ofrece</h2>
        </div>
        <div class=" flex justify-center">
            <div class=" items-center px-10 py-[2px] rounded-sm bg-orange-400"></div>
        </div>
    </div>
    
    <div class="">
        
    </div>
</section>